<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">


	<bean id="logger" class="us.brianolsen.spring.model.Logger">
		<!-- autowire="byType"> Not required not that it's the default
		set by default-autowire above.
		 -->
	</bean>

	<bean id="logger2" class="us.brianolsen.spring.model.Logger2"
		autowire="byName">
	</bean>

	<bean id="logger3" class="us.brianolsen.spring.model.Logger3"
		autowire="constructor">
	</bean>

	<bean id="consoleWriter" class="us.brianolsen.spring.model.ConsoleWriter">
	</bean>

	<!-- If there are two beans using the same console writer class you cannot 
		autowire by type or else there will be an error. One way to fix this would 
		be to set autowire-candidate to false as done below. -->
	<bean id="consoleWriter1" class="us.brianolsen.spring.model.ConsoleWriter"
		autowire-candidate="false">
	</bean>
	<!-- We could also set one of the conflicting classes as primary. -->
	<bean id="fileWriter" class="us.brianolsen.spring.model.FileWriter"
		primary="true">
	</bean>

	<bean id="fileWriter2" class="us.brianolsen.spring.model.FileWriter">
	</bean>

</beans>
